#px{
    /*satuan unit px memiliki perhitungan 16px= 1 em, "Px" juga tidak berubah satuan defaultnya kecuali jika di zoom */
    font-size: 20px;
}
#px2{
    font-size: 15px;
}
#em{
    /*satuan unit em bersifat dinamis dan juga berpengaruh pada inheritnya jadi ada akumulasi antara tag di bawahnya pada html*/
    font-size: 1em;
}
#em2{
    font-size: 1.3115em;
}
#rem{
    /*rem bersifat dinamis tetapi tidak di inherit (diturunkan)*/
    font-size: 1rem;
}
#rem2{
    font-size: 1.2115rem;
} 
