body{
    font-family: 'Chilanka', cursive;
    font-size: 2rem;
    text-align: center; 
}
h1{
    font-family: 'Staatliches', cursive;
    font-size: 5.625rem;
    width: 50%;
    margin:0 auto;
}
p{
    font-family: 'Nunito', sans-serif;
}